@model List<PG2024.Models.TablesNewModels.InventarioTableNewModel>

@{
    ViewBag.Title = "Inventario";
}

<h2>Inventario</h2>
<div class="row">
    <div class="col-lg-12">
        <div style="margin-bottom: 10px;">
            <button class="btn btn-primary btn-sm" style="margin-right: 10px;" onclick="document.location.href = '@Url.Content("~/Producto/Index")'">Producto</button>
            <button class="btn btn-primary btn-sm" style="margin-right: 10px;" onclick="document.location.href = '@Url.Content("~/Categoria/Index")'">Categoria</button>
        </div>
    </div>
</div>
<br>
<div class="row">
    <div class="col-lg-12">
        <table class="table table-bordered">
            <tr>
                <th>Producto</th>
                <th>Tienda</th>
                <th>Cantidad</th>
                <th>Precio</th>
                <th>Acciones</th>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.NombreProducto</td>
                    <td>@item.NombreTienda</td>
                    <td>@item.Cantidad</td>
                    <td>Q. @item.Precio</td>
                    <td>
                        <div class="btn-group" role="group">
                            <form action="@Url.Action("Delete", "Inventario")" method="post" onsubmit="return confirm('¿Estás seguro de que deseas eliminar este producto?');" style="display:inline;">
                                <input type="hidden" name="InventarioID" value="@item.InventarioID" />
                                <button type="submit" class="btn btn-danger btn-sm" style="margin-right: 10px;">
                                    <i class="fas fa-trash"></i>
                                </button>
                            </form>

                            <button class="btn btn-primary btn-sm" style="margin-right: 10px;"
                                    onclick="document.location.href = '@Url.Action("AddUnits", "Inventario", new { ProductoID = item.ProductoID, TiendaID = item.TiendaID })'">
                                <i class="fas fa-plus"></i>
                            </button>

                            <button class="btn btn-default btn-sm" style="margin-right: 10px;"
                                    onclick="document.location.href = '@Url.Action("Edit", "Inventario", new { InventarioID = item.InventarioID })'">
                                <i class="fas fa-edit"></i>
                            </button>
                        </div>
                    </td>
                </tr>
            }
        </table>
        <button class="btn btn-primary btn-sm" onclick="document.location.href = '@Url.Content("~/Inventario/Add")'">
            <i class="fas fa-plus-circle"></i> Nuevo Registro
        </button>
    </div>
</div>

@if (TempData["ErrorMessage"] != null)
{
    <script>alert("@TempData["ErrorMessage"]");</script>
}

<script>
    function jsDeleteConfirmation(InventarioID) {
        if (confirm("¿Estás seguro de que deseas eliminar este Registro del Inventario?")) {
            var url = '@Url.Action("Delete", "Inventario")' + '?InventarioID=' + InventarioID;
            $.post(url, function(data) {
                if (data.success) {
                    window.location.href = '@Url.Action("~/Inventario/")';
                } else {
                    alert(data.errorMessage);
                }
            });
        }
        return false;
    }
</script>
